<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>TB Data Record Entry and  Management Application</display-name>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>savedata</servlet-name>
        <servlet-class>com.controller.savedata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>com.controller.EmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewData</servlet-name>
        <servlet-class>com.controller.viewData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getsubcounty</servlet-name>
        <servlet-class>com.controller.getsubcounty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getfacility</servlet-name>
        <servlet-class>com.controller.getfacility</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>record</servlet-name>
        <servlet-class>com.controller.RecordsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewUpdate</servlet-name>
        <servlet-class>com.controller.viewUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>save_data</servlet-name>
        <servlet-class>com.controller.save_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatedata</servlet-name>
        <servlet-class>com.controller.updatedata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createexcelreport</servlet-name>
        <servlet-class>com.controller.createexcelreport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getsubcounty</servlet-name>
        <url-pattern>/getsubcounty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getfacility</servlet-name>
        <url-pattern>/getfacility</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>record</servlet-name>
        <url-pattern>/RecordsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savedata</servlet-name>
        <url-pattern>/savedata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/EmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewData</servlet-name>
        <url-pattern>/viewData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewUpdate</servlet-name>
        <url-pattern>/viewUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save_data</servlet-name>
        <url-pattern>/save_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatedata</servlet-name>
        <url-pattern>/updatedata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createexcelreport</servlet-name>
        <url-pattern>/createexcelreport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
